footer.fixed-bottom {
  background-color: #242629;
  font-size: 0.75rem;
  padding-top: 9px;
  padding-bottom: 8px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

span.footer {
  margin-left: 20px;
  font-size: 1.25em;
  color: #a0a0a1;
  display: inline-block;
  line-height: 1;
  text-transform: uppercase;
}

span.thanks {
  font-size: 1em;
  color: #a0a0a1;
  display: inline-block;
  line-height: 1;
  flex-grow: 1;
  text-align: center;
}

span.insta {
  margin-right: 20px;
  font-size: 1.25em;
  color: #a0a0a1;
  display: inline-block;
  line-height: 1;
}

body {
  padding: 0;
}

a.no {
  border-bottom: none;
  color: #a0a0a1;
}

a.no:hover {
  color: #a0a0a1 !important;
  border-bottom: none;
}

div.footer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
    .footer {
        flex-direction: row; /* Switch back to horizontal layout for larger screens */
        justify-content: space-between;
    }
}