footer.fixed-bottom {
  background-color: #242629;
  font-size: 0.75rem;
  padding-top: 9px;
  padding-bottom: 8px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

span.footer {
  margin-left: 20px;
  font-size: 1.25em;
  color: #a0a0a1;
  display: inline-block;
  line-height: 1;
  text-transform: uppercase;
}

span.thanks {
  font-size: 1em;
  color: #a0a0a1;
  display: inline-block;
  line-height: 1;
  flex-grow: 1;
  text-align: center;
}

span.insta {
  margin-right: 20px;
  font-size: 1.25em;
  color: #a0a0a1;
  display: inline-block;
  line-height: 1;
}

body {
  padding: 0;
}

a.no {
  border-bottom: none;
  color: #a0a0a1;
}

a.no:hover {
  color: #ffffff !important;
  border-bottom: none;
}

div.footer {
  display: flex;
  flex-direction: row; /* Switch back to horizontal layout for larger screens */
  justify-content: space-between;
}

@media (max-width: 768px) {
    div.footer {
      flex-direction: column;
    }

    span.insta {
      margin-right: 0px;
      text-align: center;
    }

    span.footer {
      margin-left: 0px;
      text-align: center;
    }
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay p {
    color: white;
    font-size: 1em;
    text-align: center;
    margin: 0; /* Remove any default margin */
}

.projectimage {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width:100%
}