footer.fixed-bottom {
  background-color: #242629;
  font-size: 0.75rem;
  padding-top: 9px;
  padding-bottom: 8px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

span.footer {
  margin-left: 20px;
  font-size: 1.25em;
  color: #a0a0a1;
  display: inline-block;
  line-height: 1;
  text-transform: uppercase;
}

span.theme {
  margin-left: 20px;
  font-size: 1em;
  color: #a0a0a1;
  display: inline-block;
  line-height: 1;
}

body {
  padding: 0;
}

a {
  border-bottom: none;
  color: #a0a0a1;
}

a:hover {
  color: #a0a0a1;
  border-bottom: none;
}

